

.Timer {
  position: relative;
  text-align: center;
  font-family: 'Helvetica';
  border: 2px solid grey;
  border-radius: 10px;
  margin-top: 20px;
}

input {
  width: 200px;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
}